<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>demo界面</h1>
</body>

<script>
    // var a = 5

    // function f1() {
    //     var a = 6
    //     console.log('函数内部的打印')
    //     console.log(a)
    // }

    // f1()


    // console.log('外侧的变量a')
    // console.log(a)






    // 变量 声明 前置
    // 

    var a = 5


    function f1() {
        var a
        console.log(a)


        a = 6

        console.log(a)
    }


    f1()




    // function f1() {
    //     var a
    //     console.log(a)
    //     a = 6
    // }
</script>

</html>